@import "tailwindcss";

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;

    background:#050816;

    color:white;

    font-family:
    Inter,
    system-ui,
    sans-serif;
}

*{
    box-sizing:border-box;
}

.react-flow{
    background:#050816;
}

.react-flow__background{
    opacity:.12;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#233044;
    border-radius:10px;
}